{
  "presets": [
    ["env", {
      "targets": {
        "ios": 9,
        "uglify": true
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-es2015-template-literals",
    "transform-es2015-arrow-functions"
  ]
}
