:80
gzip

realip {
  from 172.17.0.0/16
}
log / stdout "time:{when}	host:{host}	method:{method}	uri:{uri}	proto:{proto}	remote:{remote}	scheme:{scheme}	status:{status}	size:{size}	latency:{latency}	referer:{>Referer}	ua:{>User-Agent}	forwarded_for:{>X-Forwarded-For}"

header / Access-Control-Allow-Origin  *
header /sw.js Cache-Control "max-age=0"

rewrite {
	regexp .*
	to {path} /
}
