.markdown-body {
  font-family: 'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ＭＳ Ｐゴシック','MS PGothic','MS UI Gothic','Helvetica','Arial',sans-serif;

  code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }

  pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    font-size: 12px;
  }

  ol,
  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2em;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ol ol ol,
  ol ul ol,
  ul ol ol,
  ul ul ol {
    list-style-type: lower-alpha;
  }

  dd {
    margin-left: 0;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  li {
		list-style-type: disc;
    word-wrap: break-all;
	}

	li li {
		list-style-type: circle;
		margin-left: 2em;
	}

  ol li {
    list-style-type: decimal;
  }

  li > p {
    margin-top: 16px;
  }

  li + li {
    margin-top: 0.25em;
  }

  > ul,
  > ol,
  :not(li) > ul,
  :not(li) > ol {
    overflow: {
      x: auto;
      y: hidden;
    }
    padding-bottom: 5px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
  }

  dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
  }

  a {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }

  blockquote {
    position: relative;
    padding-left: 1.25em;
    font-style: italic;
    background: transparent;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0.25em;
      height: 100%;
    }
  }

  > blockquote,
  :not(blockquote) > blockquote {
    overflow: {
      x: auto;
      y: hidden;
    }
    padding-bottom: 5px;
    &::before {
      height: calc(100% - 5px);
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: {
      x: auto;
      y: hidden;
    }
    padding-bottom: 5px;
  }

  .katex-block {
    overflow: {
      x: auto;
      y: hidden;
    }
    margin-bottom: 5px;
  }

  .spoiler {
    color: transparent;
    background-color: black;
    user-select: none;
    cursor: pointer;

    &:not([shown]) {
      * {
        visibility: hidden;
      }
    }

    &[shown] {
      color: inherit;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

#app[data-theme="light"] .markdown-body {
  a {
    color: $link-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  pre code {
    color: #333;
  }

  code {
    color: #c0392b;
  }

  pre:not(.hljs),
  code > div {
    color: #333;
    background-color: #f8f8f8;
    font-weight: normal;
  }

  table > thead > tr > th {
    border-color: #ddd;
  }

  h1,
  hr,
  table > tbody > tr + tr > td {
    border-color: #eee;
  }

  blockquote {
    color: #777;
    &::before {
      background-color: #ddd;
    }
  }

  table th {
    font-weight: 600;
  }

  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

#app[data-theme="dark"] .markdown-body {
  a {
    color: $link-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: #e06c75;
  }

  pre code {
    color: #abb2bf;
  }

  code {
    color: #90c378;
  }

  pre:not(.hljs),
  code > div {
    background-color: #2c323c;
  }

  table th {
    font-weight: 600;
  }

  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color: transparent;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: transparent;
  }

  table > thead > tr > th {
    border-color: #c6cbd1;
  }

  h1,
  hr,
  table > tbody > tr + tr > td {
    border-color: #c6cbd1;
  }

  blockquote {
    color: #5c6370;
    &::before {
      background-color: #2c323c;
    }
  }
}
