#app[data-theme="light"]
  --primary-color: #{$default-primary-color}
  --secondary-color: #{$default-secondary-color}
  --tertiary-color: #{$default-tertiary-color}

  --primary-color-on-bg: #{$default-primary-color}

  --background-color: #{$default-background-color}
  --background-hover-color: #{$default-background-hover-color}
  --text-color: #{$default-text-color}

  --setting-background-color: #{$default-setting-background-color}

#app[data-theme="dark"]
  --primary-color: #232C36
  --secondary-color: #161C23
  --tertiary-color: #060C13

  --primary-color-on-bg: #FFFFFF

  --background-color: #222222
  --background-hover-color: #333333
  --text-color: #FFFFFF

  --setting-background-color: #343d46
