// default color
$default-primary-color: #0D67EA
$default-secondary-color: #0B60BF
$default-tertiary-color: #094587

$default-background-color: white
$default-background-hover-color: #EFEFEF
$default-text-color: #6d6d6d

$default-notification-color: #F2994A
$default-online-color: #18FCFC

$default-setting-background-color: #DAECFF

// fallback
$primary-color: $default-primary-color
$secondary-color: $default-secondary-color
$tertiary-color: $default-tertiary-color
$primary-color-on-bg: $default-primary-color

$background-color: $default-background-color
$background-hover-color: $default-background-hover-color
$text-color: $default-text-color

$notification-color: $default-notification-color
$online-color: $default-online-color

$setting-background-color: $default-setting-background-color

// Color
$primary-color: var(--primary-color)
$secondary-color: var(--secondary-color)
$tertiary-color: var(--tertiary-color)
$primary-color-on-bg: var(--primary-color-on-bg)

$background-color: var(--background-color)
$background-hover-color: var(--background-hover-color)
$text-color: var(--text-color)

$setting-background-color: var(--setting-background-color)

$light-bg-color: white
$border-color: rgba(255,255,255,0.5)

$stamp-active-color: var(--stamp-active-color)
$stamp-number-color: var(--stamp-number-color)
$stamp-pressed-number-color: var(--stamp-pressed-number-color)

// Text Color
$text-light-color: white

// Z-Index
$information-index: 100
$titlebar-index: 250
$information-sidebar-index: 300
$sidebar-index: 200
$modal-index: 400
$message-context-menu-index: 100

// Width/Height
$sidebar-width: 260px
$input-height: 50px
$navigation-height: 60px
$footer-height: $input-height
$information-sidebar-button-width: 60px
$information-sidebar-width: 220px

$breakpoints: ("pc": "screen and (min-width:680px)","sp": "screen and (max-width:679px)")

$base-size: 5vw
$dia-margin: 0.4vw

// Modal
$modal-height: 80vh
$modal-width: 90vw
$modal-width--wide: 80vw
$modal-border-radius: 10px
$modal-max-height: 90vh
$modal-min-height: 70vh

$modal-profile-padding: 1rem
$modal-profile-expanded-height: calc(80vh - 2 * #{$modal-profile-padding})
$modal-profile-expanded-width: calc(90vw - 2 * #{$modal-profile-padding})
$modal-profile-expanded-width--wide: calc(80vw - 2 * #{$modal-profile-padding})
